@keyframes coinOpacity {
    from {
      opacity: 0%;
    }
  
    to {
      opacity: 100%;
    }
  }
  
  @keyframes bgmove {
    from {
      opacity: 40%;
      transform: translate3d(0, 0, 0)
    }
  
    to {
      opacity: 0%;
      transform: translate3d(0, 22vw, 0)
    }
  }
  
  @keyframes titlestrsmov {
    100% {
      transform: translate3d(0, 71.5vh, 0);
    }
  }
  
  @keyframes btmstringmov {
    from {
      transform: translate3d(0, 0, 0)
    }
  
    to {
      transform: translate3d(0, -2.5vw, 0)
    }
  }
  
  @keyframes dbgstringmov {
    from {
      transform: translate3d(0, 0, 0)
    }
  
    to {
      transform: translate3d(0, -2vw, 0)
    }
  }
  
  @keyframes smallCoinMove1 {
    from {
      transform: translate3d(0, 0, 0);
      rotate: 0deg;
    }
  
    to {
      transform: translate3d(14vw, 0, 0);
      rotate: 270deg;
    }
  }
  
  @keyframes smallCoinMove2 {
    from {
      transform: translate3d(0, 0, 0);
      rotate: 0deg;
    }
  
    to {
      transform: translate3d(-14vw, 0, 0);
      rotate: 270deg;
    }
  }
  
  @keyframes smallCoinMove3 {
    from {
      transform: translate3d(0, 0, 0) rotate(0deg)
    }
  
    to {
      transform: translate3d(14vw, 0, 0) rotate(360deg)
    }
  }
  
  @keyframes smallCoinMove4 {
    from {
      transform: translate3d(0, 0, 0) rotate(0deg)
    }
  
    to {
      transform: translate3d(-14vw, 0, 0) rotate(-360deg)
    }
  }
  
  @keyframes smallCoinSpin1 {
    from {
      transform: rotate(0deg) translate3d(14vw, 0, 0)
    }
  
    to {
      transform: rotate(360deg) translate3d(14vw, 0, 0)
    }
  }
  
  @keyframes smallCoinSpin2 {
    from {
      transform: rotate(0deg) translate3d(-14vw, 0, 0)
    }
  
    to {
      transform: rotate(360deg) translate3d(-14vw, 0, 0)
    }
  }
  
  @keyframes smallCoinSpin3 {
    from {
      transform: rotate(0deg) translate3d(14vw, 0, 0)
    }
  
    to {
      transform: rotate(360deg) translate3d(14vw, 0, 0)
    }
  }
  
  @keyframes smallCoinSpin4 {
    from {
      transform: rotate(0deg) translate3d(-14vw, 0, 0)
    }
  
    to {
      transform: rotate(360deg) translate3d(-14vw, 0, 0)
    }
  }
  
  @keyframes tsclickermov {
    from {
      transform: translate3d(0, 71.5vh, 0) rotate(0deg);
      opacity: 0%;
    }
  
    to {
      transform: translate3d(4vw, 68.3vh, 0) rotate(320deg);
      opacity: 100%;
    }
  }
  
  @keyframes startmov {
    from {
      transform: translate3d(0, 0, 0)
    }
  
    to {
      transform: translate3d(0, -4.7vw, 0)
    }
  }
  
  @keyframes coinpartmov {
    from {
      opacity: 100%;
      transform: translate3d(0, 0, 0) rotate(0deg);
    }
  
    to {
      opacity: 0%;
      transform: translate3d(0, 1.4vw, 0) rotate(720deg);
    }
  }
  
  @keyframes clickermov {
    from {
      transform: translate3d(0, 0, 0) rotate(0deg)
    }
  
    to {
      transform: translate3d(35.5vw, 7.2vw, 0) rotate(172deg)
    }
  }
  
  @keyframes clickerclick {
    from {
      transform: translate3d(35.5vw, 7.2vw, 0) rotate(172deg)
    }
  
    to {
      transform: translate3d(35.2vw, 6.9vw, 0) rotate(172deg)
    }
  }
  
  @keyframes superclickermov {
    from {
      transform: translate3d(0, 0, 0) rotate(0deg)
    }
  
    to {
      transform: translate3d(44.5vw, 2vw, 0) rotate(175deg)
    }
  }
  
  @keyframes superclickerclick {
    from {
      transform: translate3d(44.5vw, 2vw, 0) rotate(175deg)
    }
  
    to {
      transform: translate3d(44.8vw, 1.7vw, 0) rotate(175deg)
    }
  }
  
  @keyframes doublepointermov {
    from {
      transform: translate3d(0, 0, 0) rotate(0deg)
    }
  
    to {
      transform: translate3d(40.2vw, 6.9vw, 0) rotate(90deg)
    }
  }
  
  @keyframes doublepointerclick {
    from {
      transform: translate3d(40.2vw, 6.9vw, 0) rotate(90deg)
    }
  
    to {
      transform: translate3d(40.2vw, 7.5vw, 0) rotate(90deg)
    }
  }
  
  @keyframes cursormov {
    from {
      transform: translate3d(0, 0, 0) rotate(0deg);
      height: 3vw;
      width: 3vw;
    }
  
    to {
      transform: translate3d(73vw, 31vw, 0) rotate(23deg);
      height: 1.5vw;
      width: 1.5vw;
    }
  }
  
  @keyframes supercursormov {
    from {
      transform: translate3d(0, 0, 0);
      height: 3vw;
      width: 3vw;
    }
  
    to {
      transform: translate3d(75vw, 26vw, 0);
      height: 1.5vw;
      width: 1.5vw;
    }
  }
  
  @keyframes employeemov {
    from {
      transform: translate3d(0, 0, 0);
    }
  
    to {
      transform: translate3d(40.4vw, -5vw, 0);
    }
  }
  
  @keyframes employeerock {
    from {
      transform: translate3d(40.4vw, -5vw, 0);
    }
  
    to {
      transform: translate3d(40.4vw, -4.4vw, 0);
    }
  }
  
  @keyframes godfingermov {
    from {
      transform: translate3d(0, 0, 0);
      height: 3vw;
      width: 3vw;
    }
  
    to {
      transform: translate3d(77vw, 16vw, 0);
      height: 1.5vw;
      width: 1.5vw;
    }
  }
  
  @keyframes clickerfusionmov {
    from {
      transform: translate3d(0, 0, 0) rotate(0deg);
      height: 3vw;
      width: 3vw;
    }
  
    to {
      transform: translate3d(79vw, 11.3vw, 0) rotate(45deg);
      height: 1.5vw;
      width: 1.5vw;
    }
  }
