#titlescreen {
  display: none;
}

#gamescreen {
  display: none;
}

#shoppanel {
  display: none;
}

#upgradeshoppanel {
  display: none;
}

#statspanel {
  display: none;
}

#achievementsscreen {
  display: none;
}

#debuginputscreen {
  display: none;
}

#debugscreen {
  display: none;
}

#settingsscreen {
  display: none;
}

#loadingscreen {
  display: none;
}

body {
  background-color: black;
  color: white;
  font-family: Courier, monospace;
}

h1#ns {
  font-size: 20px;
  font-weight: 100;
  text-align: center;
}

p#ns {
  font-size: 18px;
  text-align: center;
}