body {
  margin: 0 0 0 0.5%;
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Courier, monospace;
}

::-webkit-scrollbar {
  display: none;
}

/* Title screen elements. */
#basedonbuildstring {
  position: fixed;
  top: 48.5vw;
  left: 78vw;
}

#buildstring {
  position: fixed;
  top: 48.5vw;
}

#runningbrowserstring {
  text-align: center;
  width: 1000px;
  position: fixed;
  top: 48.5vw;
  left: 12.5vw;
}

#title {
  font-size: 50px;
  font-weight: 100;
  position: fixed;
  top: 15vw;
  left: 41.5vw;
  width: 135px;
}

#updatestring {
  width: 500px;
  text-align: center;
  font-size: 20px;
  font-weight: 100;
  position: fixed;
  top: 27vw;
  left: 30.5vw;
}

#betastring {
  text-align: center;
  font-size: 35px;
  font-weight: 100;
  position: fixed;
  top: 23vw;
  left: 43.5vw;
}

#startbutton {
  background: transparent;
  height: 3vw;
  width: 10vw;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  font-family: courier, monospace;
  font-size: 17px;
  position: fixed;
  top: 46.3vw;
  left: 44vw;
  cursor: pointer;
}

#sourcenote {
  font-size: 13px;
}

/* Screen display elements. */
#titlescreen {
  display: none;
}

#shoppanel {
  display: none;
}

#gamescreen {
  display: none;
}

#upgradeshoppanel {
  display: none;
}

#statspanel {
  display: none;
}

/* Game screen elements */
#coin {
  background: transparent url("../img/coin.png") no-repeat;
  background-size: cover;
  border-style: none;
  width: 14vw;
  height: 14vw;
  position: fixed;
  top: 13vw;
  left: 42vw;
  cursor: pointer;
}

#clickstring {
  text-align: center;
  position: fixed;
  width: 500px;
  top: 26.7vw;
  left: 30.5vw;
}

#cpsstring {
  text-align: center;
  position: fixed;
  width: 500px;
  top: 28.3vw;
  left: 30.5vw;
}

#clickvaluestring {
  text-align: center;
  position: fixed;
  width: 500px;
  top: 30vw;
  left: 30.5vw;
}

#savebutton {
  background: transparent;
  height: 3vw;
  width: 10vw;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  font-family: courier, monospace;
  font-size: 17px;
  position: fixed;
  top: 0.5vw;
  left: 44vw;
  cursor: pointer;
}

#savingstring {
  display: none;
  text-align: center;
  position: fixed;
  width: 500px;
  top: 3.8vw;
  left: 30.9vw;
  cursor: pointer;
}

#wipesavebutton {
  background: transparent;
  height: 3vw;
  width: 10vw;
  border-style: solid;
  border-width: 1px;
  border-color: red;
  font-family: courier, monospace;
  font-size: 17px;
  color: red;
  position: fixed;
  top: 46vw;
  left: 44vw;
  cursor: pointer;
}

#saveinfo {
  text-align: center;
  width: 500px;
  font-size: 11px;
  color: black;
  position: fixed;
  top: 3vw;
  left: 30.7vw;
}

#unlockstring {
  text-align: center;
  width: 500px;
  display: none;
  position: fixed;
  top: 37vw;
  left: 30.5vw;
}

#bufflabel {
  font-size: 15px;
  display: none;
  text-align: center;
  width: 500px;
  position: fixed;
  top: 35vw;
  left: 31vw;
}

#borders {
  position: fixed;
  top: -0.1vw;
}

#achievementsbtnhovercontainer .hover-target {
  display: none;
}

#achievementsbtnhovercontainer .hover-trigger:hover+.hover-target {
  display: block;
}

#achievementslabel {
  font-size: 14px;
  text-align: center;
  width: 110px;
  position: fixed;
  border: solid black 1px;
}

#achievementsbutton {
  background: transparent url("../img/achievements/specialachievements.png") no-repeat;
  background-size: 90%;
  background-position: center;
  border: solid black 1px;
  height: 3vw;
  width: 3vw;
  position: fixed;
  top: 0.5vw;
  left: 31vw;
  cursor: pointer;
}

#settingsbtnhovercontainer .hover-target {
  display: none;
}

#settingsbtnhovercontainer .hover-trigger:hover+.hover-target {
  display: block;
}

#settingslabel {
  text-align: center;
  width: 95px;
  position: fixed;
  border: solid black 1px;
}

#settingsbutton {
  background: transparent url("../img/settings/settings.png") no-repeat;
  background-size: 90%;
  background-position: center;
  border: solid black 1px;
  height: 3vw;
  width: 3vw;
  position: fixed;
  top: 0.5vw;
  left: 64.7vw;
}

/* Shop panel elements */
#shopicon {
  position: fixed;
  top: 1.28vw;
  left: 8.3vw;
}

#shopstring {
  font-size: 35px;
  font-family: courier, monospace;
  position: fixed;
  top: -0.5vw;
  left: 12.5vw;
}

#clickerhovercontainer .hover-target {
  display: none;
}

#clickerhovercontainer .hover-trigger:hover+.hover-target {
  display: block;
}

#clickerinfo {
  font-size: 12px;
  position: fixed;
  border: solid 1px black;
}

#clickerbuy {
  background: transparent url("../img/shop/clicker.png") no-repeat;
  background-size: 90%;
  background-position: center;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  height: 3vw;
  width: 3vw;
  position: fixed;
  top: 7vw;
  left: 9.5vw;
  cursor: pointer;
}

#clickerstring {
  font-size: 14px;
  position: fixed;
  top: 5vw;
  left: 9.1vw;
}

#clickercpsstring {
  font-size: 14px;
  text-align: center;
  overflow: scroll;
  position: fixed;
  top: 6vw;
  left: 12.7vw;
}

#clickercoststring {
  font-size: 14px;
  text-align: center;
  overflow: scroll;
  position: fixed;
  top: 7vw;
  left: 12.7vw;
}

#clickersownedstring {
  font-size: 14px;
  text-align: center;
  overflow: scroll;
  position: fixed;
  top: 8vw;
  left: 12.7vw;
}

#superclicker {
  display: none;
}

#superclickerhovercontainer .hover-target {
  display: none;
}

#superclickerhovercontainer .hover-trigger:hover+.hover-target {
  display: block;
}

#superclickerinfo {
  font-size: 12px;
  position: fixed;
  border: solid black 1px;
}

#superclicker {
  display: none;
}

#superclickerbuy {
  background: transparent url("../img/shop/superclicker.png") no-repeat;
  background-size: cover;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  height: 3vw;
  width: 3vw;
  position: fixed;
  top: 12vw;
  left: 9.5vw;
  cursor: pointer;
}

#superclickerstring {
  font-size: 14px;
  text-align: center;
  position: fixed;
  top: 10vw;
  left: 7.5vw;
}

#superclickercpsstring {
  font-size: 14px;
  text-align: center;
  overflow: scroll;
  position: fixed;
  top: 11vw;
  left: 12.7vw;
}

#superclickercoststring {
  font-size: 14px;
  text-align: center;
  overflow: scroll;
  position: fixed;
  top: 12vw;
  left: 12.7vw;
}

#superclickersownedstring {
  font-size: 14px;
  text-align: center;
  overflow: scroll;
  position: fixed;
  top: 13vw;
  left: 12.7vw;
}

#doublepointer {
  display: none;
}

#doublepointerhovercontainer .hover-target {
  display: none;
}

#doublepointerhovercontainer .hover-trigger:hover+.hover-target {
  display: block;
}

#doublepointerinfo {
  font-size: 12px;
  position: fixed;
  border: solid black 1px;
}

#doublepointer {
  display: none;
}

#doublepointerbuy {
  background: transparent url("../img/shop/doublepointer.png") no-repeat;
  background-size: 90%;
  background-position: center;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  height: 3vw;
  width: 3vw;
  position: fixed;
  top: 17vw;
  left: 9.5vw;
  cursor: pointer;
}

#doublepointerstring {
  font-size: 14px;
  text-align: center;
  position: fixed;
  top: 15vw;
  left: 7.2vw;
}

#doublepointercpsstring {
  font-size: 14px;
  text-align: center;
  overflow: scroll;
  position: fixed;
  top: 16vw;
  left: 12.7vw;
}

#doublepointercoststring {
  font-size: 14px;
  text-align: center;
  overflow: scroll;
  position: fixed;
  top: 17vw;
  left: 12.7vw;
}

#doublepointersownedstring {
  font-size: 14px;
  text-align: center;
  overflow: scroll;
  position: fixed;
  top: 18vw;
  left: 12.7vw;
}

/* Upgrade shop panel elements */
#upgradebutton {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  font-family: courier, monospace;
  font-size: 17px;
  background: transparent;
  height: 3vw;
  width: 10vw;
  position: fixed;
  top: 46.3vw;
  left: 9vw;
  cursor: pointer;
}

#shopreturnbutton {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  font-family: courier, monospace;
  font-size: 17px;
  background: transparent;
  height: 3vw;
  width: 10vw;
  position: fixed;
  top: 46.3vw;
  left: 9vw;
  cursor: pointer;
}

#upgradeshopicon {
  position: fixed;
  top: 1.28vw;
  left: 5.8vw;
}

#upgradestring {
  font-size: 35px;
  font-family: courier, monospace;
  position: fixed;
  top: -0.5vw;
  left: 10vw;
}

#cursorbuy {
  background: transparent url("../img/shop/cursor.png") no-repeat;
  background-size: 90%;
  background-position: center;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  height: 3vw;
  width: 3vw;
  position: fixed;
  top: 7vw;
  left: 7.6vw;
  cursor: pointer;
}

#cursorstring {
  font-size: 14px;
  text-align: center;
  position: fixed;
  top: 5vw;
  left: 7.4vw;
}

#cursorcpsstring {
  font-size: 14px;
  text-align: center;
  position: fixed;
  top: 6vw;
  left: 10.8vw;
}

#cursorcoststring {
  font-size: 14px;
  text-align: center;
  position: fixed;
  top: 7vw;
  left: 10.8vw;
}

#cursorownedstring {
  font-size: 14px;
  text-align: center;
  position: fixed;
  top: 8vw;
  left: 10.8vw;
}

#supercursor {
  display: none;
}

#supercursorbuy {
  background: transparent url("../img/shop/supercursor.png") no-repeat;
  background-size: 90%;
  background-position: center;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  height: 3vw;
  width: 3vw;
  position: fixed;
  top: 12vw;
  left: 7.6vw;
  cursor: pointer;
}

#supercursorstring {
  font-size: 14px;
  text-align: center;
  position: fixed;
  top: 10vw;
  left: 5.7vw;
}

#supercursorcpsstring {
  font-size: 14px;
  text-align: center;
  position: fixed;
  top: 11vw;
  left: 10.8vw;
}

#supercursorcoststring {
  font-size: 14px;
  text-align: center;
  position: fixed;
  top: 12vw;
  left: 10.8vw;
}

#supercursorownedstring {
  font-size: 14px;
  text-align: center;
  position: fixed;
  top: 13vw;
  left: 10.8vw;
}

#employee {
  display: none;
}

#employeebuy {
  background: transparent url("../img/shop/employee.png") no-repeat;
  background-size: 90%;
  background-position: center;
  border: solid black 1px;
  height: 3vw;
  width: 3vw;
  position: fixed;
  top: 17vw;
  left: 7.6vw;
  cursor: pointer;
}

#employeestring {
  font-size: 14px;
  text-align: center;
  position: fixed;
  top: 15vw;
  left: 7vw;
}

#employeecpsstring {
  font-size: 14px;
  text-align: center;
  position: fixed;
  top: 16vw;
  left: 10.8vw;
}

#employeecoststring {
  font-size: 14px;
  text-align: center;
  position: fixed;
  overflow: scroll;
  top: 17vw;
  left: 10.8vw;
}

#employeesownedstring {
  font-size: 14px;
  text-align: center;
  position: fixed;
  overflow: scroll;
  top: 18vw;
  left: 10.8vw
}

#godfinger {
  display: none;
}

#godfingerbuy {
  background: transparent url("../img/shop/godfinger.png") no-repeat;
  background-size: 90%;
  background-position: center;
  border: solid black 1px;
  height: 3vw;
  width: 3vw;
  position: fixed;
  top: 22vw;
  left: 7.6vw;
  cursor: pointer;
}

#godfingerstring {
  font-size: 14px;
  text-align: center;
  position: fixed;
  top: 20vw;
  left: 6.6vw;
}

#godfingerperkstring {
  font-size: 14px;
  text-align: center;
  position: fixed;
  top: 21vw;
  left: 10.8vw;
}

#godfingercoststring {
  font-size: 14px;
  text-align: center;
  position: fixed;
  top: 22vw;
  left: 10.8vw;
}

#godfingerownedstring {
  font-size: 14px;
  text-align: center;
  position: fixed;
  top: 23vw;
  left: 10.8vw;
}

#clickerfusion {
  display: none;
}

#clickerfusionhovercontainer .hover-target {
  display: none;
}

#clickerfusionhovercontainer .hover-trigger:hover+.hover-target {
  display: block;
}

#clickerfusioninfo {
  font-size: 14px;
  border: solid black 1px;
  position: fixed;
  width: 300px;
}

#clickerfusionbuy {
  background: transparent url("../img/shop/clicker.png") no-repeat;
  background-size: 90%;
  background-position: center;
  border: solid black 1px;
  height: 3vw;
  width: 3vw;
  position: fixed;
  top: 27vw;
  left: 7.6vw;
  cursor: pointer;
}

#clickerfusionstring {
  font-size: 14px;
  text-align: center;
  position: fixed;
  top: 25vw;
  left: 4.8vw;
}

#clickerfusionperkstring {
  font-size: 14px;
  text-align: center;
  position: fixed;
  top: 26vw;
  left: 10.8vw;
}

#clickerfusioncoststring {
  font-size: 14px;
  text-align: center;
  position: fixed;
  top: 27vw;
  left: 10.8vw;
}

#clickerfusionownedstring {
  font-size: 14px;
  text-align: center;
  position: fixed;
  top: 28vw;
  left: 10.8vw;
}

/* Stats panel elements */
#statsstring {
  font-size: 35px;
  position: fixed;
  width: 105px;
  top: -0.5vw;
  left: 83.2vw;
}

#statsicon {
  position: fixed;
  top: 1.28vw;
  left: 79vw;
}

#timestring {
  text-align: center;
  position: relative;
  overflow: scroll;
  width: 400px;
  top: 5.5vw;
  left: 69vw;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

#lifetimeclicksstring {
  text-align: center;
  position: relative;
  overflow: scroll;
  width: 400px;
  top: 6vw;
  left: 69vw;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

#lifetimemanualclicksstring {
  text-align: center;
  position: relative;
  overflow: scroll;
  width: 400px;
  top: 6.5vw;
  left: 69vw;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

#coinclickcountstring {
  text-align: center;
  position: relative;
  overflow: scroll;
  width: 400px;
  top: 7vw;
  left: 69vw;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

#totalclickhelpersstring {
  text-align: center;
  position: relative;
  overflow: scroll;
  width: 400px;
  top: 7.5vw;
  left: 69vw;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

#achievementsunlockedstring {
  text-align: center;
  position: relative;
  overflow: scroll;
  width: 400px;
  top: 8vw;
  left: 69vw;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

/* Debug screen elements */
#debuginputscreen {
  display: none;
}

#debugscreen {
  display: none;
}

#debugscreenlabel {
  font-weight: 100;
  font-size: 35px;
  position: fixed;
  top: 15vw;
  left: 41.5vw;
}

#debuginputfield {
  background: transparent;
}

#dbip {
  font-size: 18px;
  position: fixed;
  top: 21.5vw;
  left: 39.3vw;
}

#debugkeyinput {
  text-align: center;
  height: 2vw;
  width: 20vw;
  font-family: courier, monospace;
  background: transparent;
  border: solid 1px black;
  resize: none;
  position: fixed;
  top: 25vw;
  left: 39vw;
}

#debugkeysubmit {
  text-align: center;
  height: 2vw;
  width: 7vw;
  font-family: courier, monospace;
  font-size: 13px;
  background: transparent;
  border: solid 1px black;
  position: fixed;
  top: 28vw;
  left: 45.5vw;
  cursor: pointer;
}

#incorrectkeyentered {
  font-size: 15px;
  display: block;
  position: fixed;
  top: 29.5vw;
  left: 44.5vw;
}

#debugconsole {
  background: transparent;
  border: solid 1px black;
  font-family: courier, monospace;
  overflow: scroll;
  height: 15vw;
  width: 20vw;
  position: fixed;
  top: 15vw;
  left: 39vw;
}

/* Achievements screen element */
#achievementsscreen {
  display: none;
}

#achievementsheader {
  font-weight: 100;
  font-size: 35px;
  position: fixed;
  top: 0vw;
  left: 40vw;
}

#achievementnamestring {
  position: fixed;
  text-align: center;
  width: 250px;
  top: 4vw;
  left: 40vw;
}

#achievementdescriptionstring {
  position: fixed;
  text-align: center;
  width: 500px;
  overflow: scroll;
  top: 6vw;
  left: 31vw;
}

#achievementunlockedstring {
  text-align: center;
  width: 500px;
  position: fixed;
  top: 9.5vw;
  left: 31vw;
}

#journeybegins {
  background: transparent url("../img/achievements/thousandachievements.png") no-repeat;
  background-size: 90%;
  background-position: center;
  border: solid 1px black;
  height: 3vw;
  width: 3vw;
  position: fixed;
  top: 13vw;
  left: 31.5vw;
  cursor: pointer;
}

#agoodstart {
  background: transparent url("../img/achievements/thousandachievements.png") no-repeat;
  background-size: 90%;
  background-position: center;
  border: solid 1px black;
  height: 3vw;
  width: 3vw;
  position: fixed;
  top: 13vw;
  left: 34.5vw;
  cursor: pointer;
}

#gettingthere {
  background: transparent url("../img/achievements/thousandachievements.png") no-repeat;
  background-size: 90%;
  background-position: center;
  border: solid 1px black;
  height: 3vw;
  width: 3vw;
  position: fixed;
  top: 13vw;
  left: 37.5vw;
  cursor: pointer;
}

#millionare {
  background: transparent url("../img/achievements/millionachievements.png") no-repeat;
  background-size: 90%;
  background-position: center;
  border: solid 1px black;
  height: 3vw;
  width: 3vw;
  position: fixed;
  top: 13vw;
  left: 40.5vw;
  cursor: pointer;
}

#coinpool {
  background: transparent url("../img/achievements/millionachievements.png") no-repeat;
  background-size: 90%;
  background-position: center;
  border: solid 1px black;
  height: 3vw;
  width: 3vw;
  position: fixed;
  top: 13vw;
  left: 43.5vw;
  cursor: pointer;
}

#abundance {
  background: transparent url("../img/achievements/millionachievements.png") no-repeat;
  background-size: 90%;
  background-position: center;
  border: solid 1px black;
  height: 3vw;
  width: 3vw;
  position: fixed;
  top: 13vw;
  left: 46.5vw;
  cursor: pointer;
}

#billionare {
  background: transparent url("../img/achievements/billionachievements.png") no-repeat;
  background-size: 90%;
  background-position: center;
  border: solid 1px black;
  height: 3vw;
  width: 3vw;
  position: fixed;
  top: 13vw;
  left: 49.5vw;
  cursor: pointer;
}

#excess {
  background: transparent url("../img/achievements/billionachievements.png") no-repeat;
  background-size: 90%;
  background-position: center;
  border: solid 1px black;
  height: 3vw;
  width: 3vw;
  position: fixed;
  top: 13vw;
  left: 52.5vw;
  cursor: pointer;
}

#planetofclicks {
  background: transparent url("../img/achievements/billionachievements.png") no-repeat;
  background-size: 90%;
  background-position: center;
  border: solid 1px black;
  height: 3vw;
  width: 3vw;
  position: fixed;
  top: 13vw;
  left: 55.5vw;
  cursor: pointer;
}

#trillionare {
  background: transparent url("../img/achievements/trillionachievements.png") no-repeat;
  background-size: 90%;
  background-position: center;
  border: solid 1px black;
  height: 3vw;
  width: 3vw;
  position: fixed;
  top: 13vw;
  left: 58.5vw;
  cursor: pointer;
}

#pocketdimension {
  background: transparent url("../img/achievements/trillionachievements.png") no-repeat;
  background-size: 90%;
  background-position: center;
  border: solid 1px black;
  height: 3vw;
  width: 3vw;
  position: fixed;
  top: 13vw;
  left: 61.5vw;
  cursor: pointer;
}

#fartoomany {
  background: transparent url("../img/achievements/trillionachievements.png") no-repeat;
  background-size: 90%;
  background-position: center;
  border: solid 1px black;
  height: 3vw;
  width: 3vw;
  position: fixed;
  top: 13vw;
  left: 64.5vw;
  cursor: pointer;
}

#quadrillionare {
  background: transparent url("../img/achievements/quadrillionachievements.png") no-repeat;
  background-size: 90%;
  background-position: center;
  border: solid 1px black;
  height: 3vw;
  width: 3vw;
  position: fixed;
  top: 16vw;
  left: 31.5vw;
  cursor: pointer;
}

#coinvortex {
  background: transparent url("../img/achievements/quadrillionachievements.png") no-repeat;
  background-size: 90%;
  background-position: center;
  border: solid 1px black;
  height: 3vw;
  width: 3vw;
  position: fixed;
  top: 16vw;
  left: 34.5vw;
  cursor: pointer;
}

#coinshapedblackhole {
  background: transparent url("../img/achievements/quadrillionachievements.png") no-repeat;
  background-size: 90%;
  background-position: center;
  border: solid 1px black;
  height: 3vw;
  width: 3vw;
  position: fixed;
  top: 16vw;
  left: 37.5vw;
  cursor: pointer;
}

#quintillionare {
  background: transparent url("../img/achievements/quintillionachievements.png") no-repeat;
  background-size: 90%;
  background-position: center;
  border: solid 1px black;
  height: 3vw;
  width: 3vw;
  position: fixed;
  top: 16vw;
  left: 40.5vw;
  cursor: pointer;
}

#clickbeyond {
  background: transparent url("../img/achievements/quintillionachievements.png") no-repeat;
  background-size: 90%;
  background-position: center;
  border: solid 1px black;
  height: 3vw;
  width: 3vw;
  position: fixed;
  top: 16vw;
  left: 43.5vw;
  cursor: pointer;
}

#distantbeginning {
  background: transparent url("../img/achievements/quintillionachievements.png") no-repeat;
  background-size: 90%;
  background-position: center;
  border: solid 1px black;
  height: 3vw;
  width: 3vw;
  position: fixed;
  top: 16vw;
  left: 46.5vw;
  cursor: pointer;
}

#sextillionare {
  background: transparent url("../img/achievements/sextillionachievements.png") no-repeat;
  background-size: 90%;
  background-position: center;
  border: solid 1px black;
  height: 3vw;
  width: 3vw;
  position: fixed;
  top: 16vw;
  left: 49.5vw;
  cursor: pointer;
}

#numberoverflow {
  background: transparent url("../img/achievements/sextillionachievements.png") no-repeat;
  background-size: 90%;
  background-position: center;
  border: solid 1px black;
  height: 3vw;
  width: 3vw;
  position: fixed;
  top: 16vw;
  left: 52.5vw;
  cursor: pointer;
}

#coinuniverse {
  background: transparent url("../img/achievements/sextillionachievements.png") no-repeat;
  background-size: 90%;
  background-position: center;
  border: solid 1px black;
  height: 3vw;
  width: 3vw;
  position: fixed;
  top: 16vw;
  left: 55.5vw;
  cursor: pointer;
}

#septillionare {
  background: transparent url("../img/achievements/septillionachievements.png") no-repeat;
  background-size: 90%;
  background-position: center;
  border: solid 1px black;
  height: 3vw;
  width: 3vw;
  position: fixed;
  top: 16vw;
  left: 58.5vw;
  cursor: pointer;
}

#why {
  background: transparent url("../img/achievements/septillionachievements.png") no-repeat;
  background-size: 90%;
  background-position: center;
  border: solid 1px black;
  height: 3vw;
  width: 3vw;
  position: fixed;
  top: 16vw;
  left: 61.5vw;
  cursor: pointer;
}

#twentyfingers {
  background: transparent url("../img/achievements/septillionachievements.png") no-repeat;
  background-size: 90%;
  background-position: center;
  border: solid 1px black;
  height: 3vw;
  width: 3vw;
  position: fixed;
  top: 16vw;
  left: 64.5vw;
  cursor: pointer;
}

#fortheworthy {
  background: transparent url("../img/achievements/specialachievements.png") no-repeat;
  background-size: 90%;
  background-position: center;
  border: solid 2px black;
  height: 3vw;
  width: 3vw;
  position: fixed;
  top: 19vw;
  left: 48vw;
  cursor: pointer;
}

#breakpoint {
  background: transparent url("../img/achievements/specialachievements.png") no-repeat;
  display: none;
  background-size: 90%;
  background-position: center;
  border: solid 2px black;
  height: 3vw;
  width: 3vw;
  position: fixed;
  top: 22vw;
  left: 48vw;
  cursor: pointer;
}

#backtogame {
  background: transparent;
  height: 3vw;
  width: 10vw;
  border: solid 1px black;
  font-family: courier, monospace;
  font-size: 17px;
  position: fixed;
  top: 46vw;
  left: 44.5vw;
  cursor: pointer;
}

#settingsscreen {
  display: none;
}

#settingsheader {
  font-weight: 100;
  font-size: 35px;
  position: fixed;
  top: 0vw;
  left: 43.5vw;
}

#volumeinput {
  height: 1vw;
  width: 7vw;
  font-family: courier, monospace;
  font-size: 17px;
  background: transparent;
  border: solid 1px black;
  position: fixed;
  top: 5vw;
  left: 56.3vw;
}

#volumestring {
  font-size: 12.5px;
  position: fixed;
  top: 4.2vw;
  left: 33.5vw;
}

#backtogame2 {
  background: transparent;
  height: 3vw;
  width: 10vw;
  border: solid 1px black;
  font-family: courier, monospace;
  font-size: 17px;
  position: fixed;
  top: 46vw;
  left: 44vw;
  cursor: pointer;
}